<!DOCTYPE html>
<html>
  <head>
      <title>Add Tweet</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <div id="container">
      <div id="page-header">
        <h1>Tweet @MEET</h1>
        <h2>Add tweet</h2>
      </div>

      <form action="/add" method="post">
        <textarea name="text" placeholder="Enter your tweet here.."></textarea><br>
        <input type="text" name="picture_url" placeholder="Enter picture URL"><br><br>
        <input type="checkbox" name="show_location" value="true" checked>Display location<br>
        <input type="text" name="location" placeholder="Location"><br><br>
        <input type="submit">
      </form>

      <a href="{{ url_for('my_feed') }}" class="btn btn-info" role="button">Cancel</a>
    </div>

    <footer class="footer">
      <p class="text-muted text-footer-custom">Y2 Flask Intro</p>
    </footer>

  </body>
</html>
