<!DOCTYPE html>
<html>
  <head>
      <title>Delete tweet</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <div id="container">
      <div id="page-header">
        <h1>Tweet @MEET</h1>
        <h2>Delete Tweet</h2>
      </div>

      <form action="BROKEN-LINK-FIX-ME" method="post">
        Are you sure you want to delete ?<br>
        <input type="submit" value="Yes" class="btn btn-info" role="button">
      </form>
      <a href="{{ url_for('my_feed') }}" class="btn btn-info" role="button">Cancel</a>
    </div>

    <footer class="footer">
      <p class="text-muted text-footer-custom">Y2 Flask Intro</p>
    </footer>

  </body>
</html>
